.task-details-container {
  max-width: 24rem;

  .actions-container {
    justify-content: center;
  }

  .row {
    margin-top: 0.5rem;

    .title {
      font-size: 0.9rem;
      margin-bottom: 0.1rem;
    }

    .value {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}
