<div class="add-task-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add new task</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="taskFormGroup" (ngSubmit)="createTask()">
                <!-- begin:: Task name field-->
                <div class="row">
                    <mat-form-field>
                        <mat-label>Task name</mat-label>
                        <input matInput formControlName="title" />
                    </mat-form-field>
                </div>
                <!-- end:: Task name field-->

                <!-- begin:: Description field-->
                <div class="row">
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" />
                    </mat-form-field>
                </div>
                <!-- end:: Description field-->


                <!-- begin:: Priority field-->
                <div class="row">
                    <mat-label>Priority</mat-label>
                    <mat-radio-group formControlName="priority">
                        <mat-radio-button [value]="priorityEnum.LOW">Low</mat-radio-button>
                        <mat-radio-button [value]="priorityEnum.MEDIUM">Medium</mat-radio-button>
                        <mat-radio-button [value]="priorityEnum.URGENT">Urgent</mat-radio-button>
                    </mat-radio-group>
                </div>
                <!-- end:: Priority field-->

                <!-- begin:: Delivery date field-->
                <div class="row">
                    <mat-form-field>
                        <mat-label>Delivery date</mat-label>
                        <input matInput formControlName="deliveryDate" [matDatepicker]="picker" />
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <!-- end:: Delivery date field-->

                <!-- begin:: group field-->
                <div class="row">
                    <mat-form-field>
                        <mat-label>Group</mat-label>
                        <input matInput formControlName="group" />
                    </mat-form-field>
                </div>
                <!-- end:: group field-->

                <mat-card-actions class="actions-container">
                    <button mat-raised-button color="primary" type="submit">Add Task</button>
                    <button mat-button type="button">Back to list</button>
                </mat-card-actions>
                <div class="text-center">
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>